// appends a pseudo element after the element which clears the float
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    // clears float left and float right
    clear: both;
  }
}
